@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}
body {
    color: #8A8988;
}
.silvercloud-results-wrapper {
    background: transparent;
}
.sc-results-toolbar, .result-title-bar {
    background: transparent;
    height: auto;
    line-height: 1.25;
    border: 0;
}
.sc-print-icon {
    display: none;
}
.silvercloud-results-title {
    line-height: 1.25;
    padding: 10px;
}
.sc-result-icon {
    margin: 1px auto 0;
}
.sc-result-icon svg {
    max-width: 20px;
    max-height: 20px;
}
.filter-icon svg, .sc-result-icon svg {
    fill: #6264A8;
    color: #6264A8;
}
a.sc-result-item {
    padding: 5px;
    margin: 5px 0;
    color: inherit;
    border: 1px solid;
}
a.sc-result-item:hover {
    background: transparent;
    font-weight: bold;
}
.silvercloud-results-wrapper-item-body {
    color: inherit;
}
.pagination {
	position: relative;
	z-index: 1;
}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #6264A8;
	text-decoration: none;
	background-color: transparent;
	border: 1px solid #6264A8
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: #6264A8;
	cursor: not-allowed;
	background-color: transparent;
	border-color: #6264A8;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background-color: transparent;
	border-color: #6264A8;
	font-weight: bold;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	color: #000;
	font-weight: bold;
	cursor: default; 
	border-color: #6264A8;
}
div.sc-filter-container {
    border: 0;
    background: transparent;
}
.sc-filter-container option, .sc-filter-container select, .sc-filter-container label {
    color: inherit;
}
.sc-filter-container select {
    border: 1px sollid;
}
.sc-clear-filter, .silvercloud-back-button {
    color: #fff;
    background: #6264A8;
    border: 0;
    border-radius: 0;
}