@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
font-family: 'Open Sans', sans-serif;
}
body {
color: #8A8988;
}
a {
color: inherit;
}
/* search bar */
.silvercloud-acsearch-bar{
text-align: center;
max-width: 600px;
margin: 0 auto;
}
.sc-autocomplete-items {
text-align: left;
width: auto;
padding: 0 5px 0 0;
min-width: 200px;
color: inherit;
max-width: 500px;
}
a.sc-autocomplete-link {
color: inherit;
}
.sc-autocomplete-icon svg {
fill: #6264A8;
margin-top: 9px;
}
.sc-autocomplete-items sc-highlight {
background-color: transparent !important;
font-weight: bold;
color: inherit !important;
padding: 0;
}
.silvercloud-acsearch-bar input {
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom: 3px solid #6264A8;
background: transparent;
color: inherit;
font-weight: bold;
font-size: 1em;
width: calc(100% - 45px);
padding: 10px 0 10px 5px;
}
.silvercloud-acsearch-bar button {
background: transparent;
color: #6264A8;
border: 0;
font-size: 1em;
font-weight: bold;
}
/* list view */
.silvercloud-results-wrapper {
background: transparent;
}
.sc-results-toolbar, .result-title-bar, .sc-toolbar, .sc-toolbar-tools, .silvercloud-results-title, .silvercloud-loading-toolbar {
background: transparent;
height: auto;
line-height: 1.25;
border: 0;
}
.sc-print-icon {
display: none;
}
.silvercloud-results-title {
line-height: 1.25;
padding: 10px 0;
}
.sc-result-icon {
margin: 1px auto 0;
}
.sc-result-icon svg {
max-width: 20px;
max-height: 20px;
}
.filter-icon svg, .sc-result-icon svg {
fill: #6264A8;
color: #6264A8;
}
div.filter-icon {
padding: 0;
}
a.sc-result-item {
padding: 5px;
margin: 5px 0;
color: inherit;
border: 1px solid;
}
a.sc-result-item:hover {
background: transparent;
font-weight: bold;
}
.silvercloud-results-wrapper-item-body {
color: inherit;
}
.pagination {
position: relative;
z-index: 1;
margin: 10px 0;
font-size: .85em;
}
.pagination > li > a, .pagination > li > span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #6264A8;
text-decoration: none;
background-color: transparent;
border: 1px solid #6264A8
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
color: #6264A8;
cursor: not-allowed;
background-color: transparent;
border-color: #6264A8;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
z-index: 2;
color: #fff;
font-weight: bold;
background: #6264A8;
cursor: default;
border-color: #6264A8;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
z-index: 2;
color: #fff;
font-weight: bold;
background: #6264A8;
cursor: default;
border-color: #6264A8;
}
div.sc-filter-container {
border: 0;
background: transparent;
}
.sc-filter-container option, .sc-filter-container select, .sc-filter-container label {
color: inherit;
}
.sc-filter-container select {
border: 1px sollid;
}
.sc-clear-filter, .silvercloud-back-button, .sc-stepview-steppers button, .content-rating-form button {
color: #fff;
background: #6264A8;
margin: 0;
border: 0;
border-radius: 0;
}
sc-highlight {
background-color: rgb(98 100 168 / 60%);
padding: 0 5px;
color: #fff;
font-style: italic;
}
/* content view */
a.sc-btn {
background: #6264A8;
border: none;
text-decoration: none !important;
color: #fff !important;
border-radius: 0;
}
.sc-procedure-tree .sc-stepview-steppers {
justify-content: center;
flex-wrap: wrap;
}
.sc-procedure-tree .sc-stepview-steppers button {
height: auto;
display: flex;
align-items: center;
justify-content: center;
background: #6264A8;
max-width: 200px;
font-size: 0.938em;
margin: 0 5px 5px;
padding: 8px 12px;
}
.sc-stepper-prev button:disabled, .sc-stepper-next button:disabled {
background-color: #ddd;
}
#yes:hover, .sc-active#yes {
background-color: #50C878;
color: #fff;
}
#no:hover, .sc-active#no {
background-color: #FF4C4C;
color: #fff;
}
.silvercloud-procedure div:nth-child(2) {
border: 0 !important;
}
a.sc-embedded, .sc-stepview-body a, a.weblink, .sc-embed-answer-container a, .sc-item-container a {
color: #6264A8;
border-bottom: none;
text-decoration: underline;
}
.step-inView-active {
background-color: transparent;
color: inherit;
font-weight: bold;
}
.tree-node:hover, .sc-proc-base-link:hover {
background-color: transparent;
font-weight: bold;
}
a.sc-category-option {
margin: 0 5px 5px 0;
padding: 10px 0;
border: 1px solid #6264A8;
color: #6264A8;
background: #fff;
min-width: auto;
line-height: 1;
white-space: normal;
text-align: center;
overflow: visible;
height: auto;
}
a.filteractive, a.sc-category-option:hover {
color: #fff !important;
background: #6264A8 !important;
}
.sc-config-header.sc-active {
padding: 10px;
margin: 0 0 10px;
color: #fff;
background: #6264A8;
}
.sc-config-header.sc-active a {
color: #fff;
}
pre {
display: block;
padding: 10px;
margin: 0 0 10px;
font-size: 0.875em;
word-break: normal;
background-color: #6264A8;
color: #fff;
border: 1px solid #6264A8;
border-radius: 0;
}
pre a {
color: #fff !important;
}
thead tr {
background: #6264A8 !important;
color: #fff;
font-weight: bold;
}
tr:nth-child(even) {
background: #ececec;
}
tr:nth-child(odd) {
background: transparent;
}
.sc-stepview-body li, .sc-embed-answer-container li, .sc-item-container li {
margin: 0 0 5px;
}
div.sc-browse-left-col {
margin: 0 5px 0 0;
width: calc(20% - 10px);
max-height: 600px;
overflow-y: scroll;
}
.sc-browse-left-col::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 0;
background-color: transparent;
}
.sc-browse-left-col::-webkit-scrollbar {
width: 12px;
background-color: transparent;
}
.sc-browse-left-col::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #6264A8;
}
.silvercloud-results-wrapper-item-details {
width: calc(100% - 55px);
}
.sc-proc-bread-container {
display: none;
}
.sc-step-in-view {
margin: 10px;
max-height: 100%;
}
.sc-stepview-cat {
font-size: 1em;
padding: 0;
}
.sc-step-list {
width: 25%;
}
.sc-proc-base-link {
max-width: 100%;
text-decoration: none;
line-height: 1.25;
font-size: 0.938em;
}
.sc-step-side-link {
padding: 5px;
font-size: 0.813em;
}
.sc-stepview-title, .sc-title-container {
font-size: 1.250em;
font-weight: normal;
}
#tree-root > ol > li > div > div.sc-step-side-link.ng-binding {
font-weight: bold;
}
.sc-ellipsis {
white-space: pre-wrap;
}
.sc-stepview-updated, .sc-percent-helpful, .content-rating-title {
font-size: 0.750em;
}
.fr-view pre {
word-wrap: normal;
}
.silvercloud-results-wrapper h1, .silvercloud-top-content-wrapper h1, .silvercloud-custom-content-wrapper h1, .silvercloud-embed-answer-wrapper h1 {
background: transparent;
padding: 0;
color: #6264A8;
font-size: 1.5em;
}
.silvercloud-results-wrapper h2, .silvercloud-top-content-wrapper h2, .silvercloud-custom-content-wrapper h2, .silvercloud-embed-answer-wrapper h2 {
font-size: 1.375em;
}
.silvercloud-results-wrapper h3, .silvercloud-top-content-wrapper h3, .silvercloud-custom-content-wrapper h3, .silvercloud-embed-answer-wrapper h3 {
font-size: 1.250em;
}
.silvercloud-results-wrapper h4, .silvercloud-top-content-wrapper h4, .silvercloud-custom-content-wrapper h4, .silvercloud-embed-answer-wrapper h4 {
font-size: 1.125em;
}
@media (max-width: 992px) {
div.sc-browse-left-col {
display: block !important;
}
a.sc-result-item {
font-size: .9em;
}
div.sc-browse-left-col {
width: calc(20% - 5px) !important;
}
div.sc-browse-main-col {
float: left;
width: 100%;
}
a.sc-category-option {
float: left;
min-width: 0 !important;
width: 100%;
padding: 10px 0 !important;
line-height: 1 !important;
height: auto !important;
min-height: 0;
white-space: normal !important;
font-size: .6em;
}
div.sc-browse-main-col {
width: 80%;
float: none;
margin-left: 20% !important;
}
}